ion-content {
    --background: none;
    background-image: url('../../assets/2955723128edcf046284853fd0040254.png');
    // background-position: inherit;
    // background-repeat: no-repeat;
    background-size: 100%
  }